{{define "Funcionarios"}}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<title>Cadastro de Funcionários</title>
<link rel="stylesheet" href="./static/css/funcionarios.css">
</head>
<body>
<div class="container">
  <div class="form-container">
    <img src="static/img/logo.jpeg" alt="Logo da Empresa" class="logo">
    <h2>Cadastro de Funcionários</h2>
    <form action="/inserir" method="POST">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
      </div>
      <div class="form-group">
        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" name="cargo" required>
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="number" id="cpf" name="cpf" required>
      </div>
      <div class="form-group">
        <label for="rg">RG:</label>
        <input type="number" id="rg" name="rg" required>
      </div>
      <div class="form-group">
        <label for="email">E_mail:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="number" id="senha" name="senha" required>
      </div>
      <div class="form-group">
        <button type="submit">Cadastrar</button>
        <a href="index.html"><button type="button">Voltar ao Menu Inicial</button></a>
    </div>
    </form>
  </div>
</div>

</body>
</html>

{{end}}