{{define "Fornecedor"}}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senac Construction</title>
    <link rel="stylesheet" href="./static/css/fornecedor.css">
</head>
<body>
 <div class="container">
    <div class="form-container">
        <img src="static/img/logo.jpeg" width="150" height="150"  alt="Logo da Empresa" class="logo">
        <h2>Cadastro de Fornecedor</h2>
        <form action="adicionar" method="POST">
            <div class="form-group">
                <label for="razaosocial">Razão social:</label> 
                <input type="text" id="razaosocial" name="razaosocial" required>
            </div>
            <div class="form-group">
                <label for="nomefantasia">Nome fantasia:</label>
                <input type="text" id="nomefantasia" name="nomefantasia" required>
            </div>
            <div class="form-group">
                 <label for="cnpj">CNPJ:</label>
                 <input type="text" id="cnpj" name="cnpj" required>
            </div>
            <div class="form-group">
                 <label for="endereco">Endereço:</label>
                 <input type="text" id="endereco" name="endereco" required>
            </div>
            <div class="form-group">
                 <label for="bairro">Bairro:</label>
                 <input type="text" id="bairro" name="bairro" required>
            </div>
            <div class="form-group">
                 <label for="cidade">Cidade:</label>
                 <input type="text" id="cidade" name="cidade" required>
            </div>
            <div class="form-group">
                 <label for="estado">Estado:</label>
                 <select id="estado" name="estado" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                   <option value="RS">Rio Grande do Sul</option>
                   <option value="RO">Rondônia</option>
                   <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                     <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>

                    
                    <!-- Adicione as opções para os outros estados -->
                 </select>
            </div>
            <div class="form-group">
                 <label for="cep">CEP:</label>
                 <input type="text" id="cep" name="cep" required>
            </div>
            <div class="form-group">
                 <label for="telefone">Telefone:</label>
                 <input type="text" id="telefone" name="telefone" required>
            </div>
            <div class="form-group">
                 <label for="inscricaoEstadual">Inscrição Estadual:</label>
                 <input type="text" id="inscricaoestadual" name="inscricaoestadual" required>
            </div>
            <div class="form-group">
                 <label for="inscricaoMunicipal">Inscrição Municipal:</label>
                 <input type="text" id="inscricaomunicipal" name="inscricaomunicipal" required>
            </div>
            <div class="form-group">
                 <label for="atividadeeconomica">Atividade econômica:</label>
                 <input type="text" id="atividadeeconomica" name="atividadeeconomica" required>
            </div>
            <div class="form-group">
                 <label for="email">Email:</label>
                 <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
               <a href="/listar_fornecedor"><button type="salvar" value="salvar" class="btn btn-success">Salvar</button></a>
               <a href="/controle_acesso"><button type="button">Voltar ao Menu Inicial</button></a>
            </div>
        </form>
    </div>
</div>
<script>
    function alterar() {
        alert("Fornecedor Alterado com sucesso!");
    }
    function desabilitar() {
        alert("Fornecedor desabilitado com sucesso!");
    }
    function excluir() {
        alert("Fornecedor excluído com sucesso!");
    }
</script>

</body>
</html>

{{end}}