{{define "EditarEstoque"}}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <title>Inspeção</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light mb-4">
            <a class="navbar-brand" href="/editar_estoque">Atualizar</a>
        </nav>
        <div class="container">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-5">Atualizar o estoque</h1>
                        <p class="lead">Insira os detalhes</p>
                    </div>
                </div>
<form method="POST" action="/update">
    <input type="hidden" name="id" value="{{.Id}}" >
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="produto">Produto:</label>
                <input type="text" id="produto" name="produto" class="form-control" value="{{.Produto}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="codigodebarras">Código de barras:</label>
                <input type="text" id="código de barras" name="codigodebarras" class="form-control" value="{{.Codigodebarras}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" name="quantidade" class="form-control" value="{{.Quantidade}}">
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="condição">Condição do produto</label>
                        <input type="text" name="condição" class="form-control" value="{{.Condicao}}">
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="observação">Observação</label>
                <input type="text" name="observação" class="form-control" value="{{.Observacao}}">
            </div>
        </div>
    </div>
    <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
    <a class="btn btn-info" href="/">Voltar</a>
</form>

{{end}}