{{define "Editarfornecedor"}}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <title>Inspeção</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light mb-4">
            <a class="navbar-brand" href="/">Atualizar</a>
        </nav>
        <div class="container">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-5">Atualizar o fornecdor</h1>
                        <p class="lead">Modifique as informações necessárias</p>
                    </div>
                </div>
                <form method="POST" action="altereforn">
                    <input type="hidden" name="id" value="{{.Id}}">  
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                        <label for="razaosocial">Razão social:</label> 
                        <input type="text" id="razaosocial" name="razaosocial" value="{{.Razaosocial}}" required>
                    </div>
                </div>
            </div>

                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nomefantasia">Nome fantasia:</label>
                        <input type="text" id="nomefantasia" name="nomefantasia" value="{{.Nomefantasia}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="cnpj">CNPJ:</label>
                         <input type="text" id="cnpj" name="cnpj" value="{{.Cnpj}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="endereco">Endereço:</label>
                         <input type="text" id="endereco" name="endereco" value="{{.Endereco}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="bairro">Bairro:</label>
                         <input type="text" id="bairro" name="bairro" value="{{.Bairro}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="cidade">Cidade:</label>
                         <input type="text" id="cidade" name="cidade" value="{{.Cidade}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="estado">Estado:</label>
                         <select id="estado" name="estado" value="{{.Estado}}" required>
                            <option value="" disabled selected>Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            

                            
                            <!-- Adicione as opções para os outros estados -->
                         </select>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="cep">CEP:</label>
                         <input type="text" id="cep" name="cep" value="{{.Cep}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="telefone">Telefone:</label>
                         <input type="text" id="telefone" name="telefone" value="{{.Telefone}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="inscricaoEstadual">Inscrição Estadual:</label>
                         <input type="text" id="inscricaoestadual" name="inscricaoestadual" value="{{.Inscricaoestadual}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="inscricaoMunicipal">Inscrição Municipal:</label>
                         <input type="text" id="inscricaomunicipal" name="inscricaomunicipal" value="{{.Inscricaomunicipal}}" required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="atividadeeconomica">Atividade econômica:</label>
                         <input type="text" id="atividadeeconomica" name="atividadeeconomica" value="{{.Atividadeeconomica}}"  required>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-8">
                    <div class="form-group">
                         <label for="email">Email:</label>
                         <input type="email" id="email" name="email" value="{{.Email}}"  required>
                    </div>
                </div>
            </div>
                    <button type="colocar" value="salvar" class="btn btn-success">Atualizar</button>
                    <a class="btn btn-info" href="/">Voltar</a>
             </form>
        </div>
    </body>
</html>

{{end}}
