{{define "Sobrenos"}}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/sobrenos.css">
    <title>Senac Construction</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>SENAC CONSTRUCTION</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="/login" class="link">Login</a></li>
                    <li><a href="#" class="link active">Sobre nós</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="container">
                <div class="card" data-tilt>
                    <div class="content">
                        <div class="imgBx">
                            <img src="static/img/verniz.png" alt="verniz">
                        </div>
                        <div class="contentBx"> 
                            <h3>MATERIAIS<br><span>Produtos de alta qualidade para atender às suas necessidades.</span></h3> 
                        </div>
                    </div>
                </div>
                <div class="card" data-tilt>
                    <div class="content">
                        <div class="imgBx">
                            <img src="static/img/tijolo.png" alt="Tijolo">
                        </div>
                        <div class="contentBx">
                            <h3>ATUAÇÃO<br><span>Líder no setor de construção civil, compromissada com a excelência.</span></h3>
                        </div>
                    </div>
                </div>
                <div class="card"data-tilt>
                    <div class="content">
                        <div class="imgBx">
                            <img src="static/img/cimento.png" alt="Cimento">
                        </div>
                        <div class="contentBx">  
                            <h3>PÚBLICO<br><span>Seja empresa ou instituição. Seus projetos serão bem-sucedidos.</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/static/js/vanilla-tilt.js"></script>
</body>
</html>


{{end}}